/* mcserverslive */

/* //// forms /////////*/
.my-form {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.my-form .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
.my-form .form-control:focus {
z-index: 2;
}
.my-form input[type="file"] {
	margin-bottom: 10%;
	font-size: 100%;
}
.my-form button {
	margin-top: 1%;
}
.my-form textarea {
	resize: none;
}
.my-form iframe {
	display: none;
}

/* //// flot stuff ////////////*/
.flot-container {
	max-width: 768px;
	padding: 2px;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.flot-container .flot-shell {
	position: relative;
	width: 100%;
	height: 200px;
	padding: 5px;
	font-size: 16px;
}
.flot-container .flot-shell .flot {
	position: relative;
	width: 100%;
	height: 100%;
}
.flot-container .slider-container {
	padding: 15px 0 15px 25px;
}
.my-flot-form {
	max-width: 330px;
	padding: 15px;
}
.my-flot-form .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

/* ///// recaptcha ///////////////*/
#recaptcha_image { margin-top: 2%; margin-bottom: 5%; }
@media (max-width: 400px){
	#recaptcha_widget img { width: 70%; }
	.flot-container { display: none; }
}
@media (min-width: 400px){
	#recaptcha_widget img { width: 95%; }
}
.recaptcha_audio_cant_hear_link { display: none; }

/* //// et al //////////////*/ 
.display_none { display: none; }
/* email form */
#id_setting { list-style-type: none; }

