{% extends "base.html" %}

{% block content %}

<div class="page-header">
	<h1>Login</h1>
</div><br />

<form class="my-form" action="{% url 'accounts:register' %}" id="registration_form"></form>
<form class="my-form" action="{% url 'django.contrib.auth.views.password_reset' %}" id="password_reset_form"></form>

<form class="my-form" method="post" action="{% url 'auth_login' %}" role="form">{% csrf_token %}
	{% if form.non_field_errors %}
		<div class="alert alert-warning" role="alert">
			{{ form.non_field_errors }}
		</div>
	{% endif %}
	{{ form.username }}
	{{ form.password }}

	<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
	<input type="hidden" name="next" value="{{ next }}" />

	<div class="btn-toolbar">
		<button class="btn btn-lg btn-success" type="submit" form="registration_form">Register</button>
		<button class="btn btn-lg btn-warning" type="submit" form="password_reset_form">Forgot my info</button>
	</div>
	
</form>

<script>
$(function() {
	$("a:contains('Login')").parent().addClass("active");
	$("input[name=username]").addClass("form-control");
	$("input[name=password]").addClass("form-control");
	$("input[name=username]").attr("placeholder", "Username");
	$("input[name=password]").attr("placeholder", "Password");
});
</script>
{% endblock %}
