{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}

<div class="page-header">
	<h1>Change Password</h1>
</div>

<form class="my-form" method='post' action=''>{% csrf_token %}
	{% include 'form_errors.html' %}
	{{ form.old_password }}
	{{ form.new_password1 }}
	{{ form.new_password2 }}
	<button class="btn btn-lg btn-primary btn-block" type='submit'>Change</button>
</form>

<script>

$(function() {
	
	$("a:contains('Account')").parent().addClass("active");
	$("input[name=old_password]").addClass("form-control");
	$("input[name=new_password1]").addClass("form-control");
	$("input[name=new_password2]").addClass("form-control");
	$("input[name=old_password]").attr("placeholder", "Current Password");
	$("input[name=new_password1]").attr("placeholder", "New Password");
	$("input[name=new_password2]").attr("placeholder", "New Password Again");

});

</script>

{% endblock %}
