{% extends "base.html" %}

{% block title %}Confirm Reset{% endblock %}

{% block content %}

<div class="page-header">
	<h1>Password Reset</h1>
</div>

</p>Enter your new password below to reset your password:</p>
<form class="my-form" method="post" action="">{% csrf_token %}
	{% include 'form_errors.html %}
	{{ form.new_password1 }}
	{{ form.new_password2 }}
	<button class="btn btn-lg btn-warning btn-block" type="submit">Reset</button>
</form>

<script>
$(function() {
	$("a:contains('Account')").parent().addClass("active");
	$("input[name=new_password1]").addClass("form-control");
	$("input[name=new_password2]").addClass("form-control");
	$("input[name=new_password1]").attr("placeholder", "New Password");
	$("input[name=new_password2]").attr("placeholder", "New Password Again");

});
</script>

{% endblock %}
