{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="padding_50px">
<form method='post' action=''>{% csrf_token %}
{{ form.non_field.errors }}
<table>
	<tr><td>{{ form.old_password.errors }}</td></tr>
    <tr>
		<td>{{ form.old_password.label_tag }}</td>
		<td>{{ form.old_password }}</td>
	</tr>
	<tr><td>{{ form.new_password1.errors }}</td></tr>
    <tr>
		<td>{{ form.new_password1.label_tag }}</td>
		<td>{{ form.new_password1 }}</td>
	</tr>
	<tr><td>{{ form.new_password2.errors }}</td></tr>
    <tr>
		<td>{{ form.new_password2.label_tag }}</td>
		<td>{{ form.new_password2 }}</td>
	</tr>
	<tr>
		<td></td><td><input type='submit' value="Change password" /></td>
	</tr>
</table>
</form>
</div>
{% endblock %}
