/* stylesheet */

body { background: white; }

#wrapper { margin: auto; width: 800px; padding: 20px 0; box-shadow: 10px 10px 5px #888888; border-radius: 15px;  }
#auth_bar { float: right; padding: 20px; height: 70px; }

nav { margin-left: 5px; clear: both; }
nav ul { list-style-type: none; margin: 0; padding: 0; }
nav li { float: left; margin: 0 1px; border-radius: 25px;}
nav a { display: block; width: 120px; text-align: center; text-decoration: none; border-radius: 25px; padding: 5px 0;  background: #A52A2A; color: white; border: 1px solid black; }
nav a:hover { display: block; width: 120px; text-align: center; text-decoration: none; border-radius: 25px; padding: 5px 0;  background: white; color: #A52A2A; box-shadow: 3px 3px 1px #888888; border: 0; }

#main { clear: both; padding: 20px; min-height: 200px; }

#server_list_head table { width: 100%; border: 1px solid black; margin: 10px 0; border-radius: 25px; background: #A52A2A; color: white; }
#server_list_head td:first-child { min-width: 50px; max-width: 50px; padding-left: 5px; }
#server_list_head td:nth-child(2) { min-width: 80px; max-width: 80px; }
#server_list_head td:nth-child(3) { min-width: 50px; max-width: 50px; }

#server_list ul { list-style-type: none; margin: 0; padding: 0; }
#server_list li { border: 1px solid black; width: 100%; margin: 2px 0; height: 160px; border-radius: 25px; background: white; }
#server_list li:hover { box-shadow: 3px 3px 1px #888888; }

#server_list table { height: 100%; width: 100%; font-size: 80%; }
#server_list td:first-child { min-width: 100px; max-width: 100px; padding-left: 5px; }
#server_list td:nth-child(2) { min-width: 200px; max-width: 200px; }
#server_list td:nth-child(3) { min-width: 50px; max-width: 50px; }

#server_list a { text-decoration: none; color: black; }
#server_list img { max-height: 100%; max-width: 100%; }

#stat_graph { width: 60%; height: 60%; }

footer { margin: 30px auto; width: 800px; box-shadow: 10px 10px 5px #888888; border-radius: 15px; background: white; height: 50px; }
footer p { padding: 20px 5px; font-size: 70%; }

.pagination { float: right; padding: 10px; }
.padding_50px { padding: 50px; }

#banner { margin-top: 5px; border: 1px solid black; }

#edit_button { float: right; margin: 0 20px; border-radius: 25px;}
#edit_button a { min-width: 100px; height: 15px; text-align: center; text-decoration: none; border-radius: 25px; padding: 5px 0;  background: #A52A2A; color: white; border: 1px solid black;  }
#edit_button a:hover { text-align: center; text-decoration: none; border-radius: 25px; padding: 5px 0;  background: white; color: #A52A2A; box-shadow: 3px 3px 1px #888888; border: 0; }

#delete_button { float: right; margin: 0 1px; border-radius: 25px;}
#delete_button a { min-width: 100px; height: 15px; text-align: center; text-decoration: none; border-radius: 25px; padding: 5px 0;  background: #A52A2A; color: white; border: 1px solid black;  }
#delete_button a:hover { text-align: center; text-decoration: none; border-radius: 25px; padding: 5px 0;  background: white; color: #A52A2A; box-shadow: 3px 3px 1px #888888; border: 0; }

#counter_description { font-size: 80%; float: right; font-weight: normal; }

#all_comments_button { float: left; margin: 0 1px; border-radius: 25px;}
#all_comments_button a { display: block; width: 120px; text-align: center; text-decoration: none; border-radius: 25px; padding: 5px 0;  background: #A52A2A; color: white; border: 1px solid black; }
#all_comments_button a:hover { display: block; width: 120px; text-align: center; text-decoration: none; border-radius: 25px; padding: 5px 0;  background: white; color: #A52A2A; box-shadow: 3px 3px 1px #888888; border: 0; }

#comment_list_item { width: 100%; min-height: 50px; margin: 5px 0; font-size: 80%; }
#comment_list_item table { width: 100%; }
#comment_list_item td { padding-left: 5px; min-width: 50px; }

textarea { line-height: 1; }

.flot_ts_container {
	box-sizing: border-box;
	width: 650px;
	height: 250px;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.flot_ts_div {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}

.display_none { display: none; }
