{% extends "base.html" %}

{% block title %}{{ server.server_name }} Comments{% endblock %}

{% block description %}
<meta name="description" content="{{ server.server_name }} Comments" />
{% endblock %}

{% block content %}

<div class="page-header">
	<h1>{{ server.server_name }} Comments</h1>
</div><br />
	
<div class="row">
	<form action="{% url 'server_add_comment' server.pk %}">
		{{ form.comment }}
		<button class="btn btn-lg btn-primary" type="submit" style="float: left; margin-left: 5%;">Post a comment</button>
	</form>
</div>
	
<div style="clear: both; margin: 10%;">
	{% if object_list %}
		{% for comment in object_list %}
			{% include 'servercomment_list_item.html' %}
		{% endfor %}
	
		{% include 'pagination.html' %}		

	{% else %}
		<p>No comments to show.</p>
	{% endif %}
</div>

{% endblock %}
