{% extends "base.html" %}

{% block title %}Detail{% endblock %}

{% block auth_bar %}
{% include 'auth_bar.html' %}
{% endblock %}

{% block content %}
<div>

	<div id="pk" class="display_none">{{ server.pk }}</div>
	<div id="user_pk" class="display_none">{{ request.user.pk }}</div>

	{% with pk=server.pk %}

	<form id="all_comments_form" action="{% url 'server_comments' pk %}"></form>

	<div class="page-header">
		<h1><div id="{{ pk }}__server_name" class="current_data"></div></h1>
	</div><br />

	<div class="btn-group" style="margin-bottom: 3%;">
		<button class="btn btn-lg btn-primary" type="submit" form="all_comments_form">Comments</button>
		<button class="btn btn-lg btn-success" type="button" onclick="voteSubmit();">Vote for it!</button>
	</div>

	<div id="vote_message"></div>

	<div class="row">
		<div id="server_banner" style="margin-top: 5%; padding: 1%;">
			<img id="{{ pk }}__banner" class="img-responsive center-block current_data" src="" />
		</div>
	</div>

	<div id="{{ pk }}__motd" class="current_data" style="margin-top: 5%;"></div>

	<h2 class="sub-header">Current Info</h2>
	<div class="table-responsive">
		<table class="table table-striped">
			<tr><td>Version</td><td><div id="{{ pk }}__version" class="current_data"></div></td></tr>
			<tr><td>IP</td><td>{{ server.ip }}:{{ server.port }}</td></tr>
			<tr><td>Game type</td><td><div id="{{ pk }}__game_type" class="current_data"></div></td></tr>
			<tr><td>Max players</td><td><div id="{{ pk }}__max_players"class="current_data">0.5</div></td></tr>
			<tr><td>Num players</td><td><div id="{{ pk }}__num_players" class="current_data"></div></td></tr>
			<tr><td>Votes</td><td><div id="{{ pk }}__votes" class="current_data"></div></td></tr>
			{% if server.website %}
				<tr><td>Website</td><td><div id="{{ pk }}__website" class="current_data"></div></td></tr>
			{% endif %}
			<tr><td>Last queried</td><td><div id="{{ pk }}__last_queried" class="current_data"></div></td></tr>
		</table>
	</div>

	<h2 class="sub-header">Current Description</h2>
		{{ server.description }}

	<h2 class="sub-header">Current Plugins</h2>
	<p id="{{ pk }}__plugins" class="current_data"></p>

	<div class="flot-container">

		<h2 class="sub-header">Number of Players History</h2>

		<div id="flot-shell" class="flot-shell">
			<div id="flot_num_players" class="flot"></div>
		</div>
		<div class="slider-container">
			<input id="slider" class="span2" type="text" style="width: 100%;" data-slider-value="" data-slider-step="" data-slider-min="" data-slider-max="">
		</div>
		<form class="my-flot-form">
			{{ form.timezone }}
		</form>
	</div>		

	<h2 class="sub-header">Recent Comments</h2>
	<hr />

	{% if server.servercomment_set %}
		{% for comment in server.servercomment_set.all reversed %}
			{% if forloop.counter0 < 10 %}
				{% include 'servercomment_list_item.html' %}
			{% endif %}
		{% endfor %}
	{% else %}
		<p>No comments.</p>
	{% endif %}

	{% endwith %}

</div>

<script>

// voting
function voteSubmit() {
	var user_pk = $('#user_pk').html();
	if(user_pk=='None') {
		$("#vote_message").html("Login to vote!");
	} else {
		Dajaxice.mcserverslive.vote(vote_result,{'user_pk': user_pk, 'pk': pk });
	}
}
function vote_result(data) {
	$("#vote_message").html(data.data);
}

// flot
function loadFlotData(data) {

	window.ymax = data.ymax;
	window.ymin = -1*(ymax/4);
	var data = data.data;	
	var d = [];

	for(var i in data){
		if(data[i] == null) data[i] = window.ymin;
		d.push([parseInt(i), data [i]]);
	}
	d.sort(function(a,b){return a[0]-b[0]});
	window.flot_data = d;
}
var getFlotData = function(pk, timezone, ymax){
	Dajaxice.mcserverslive.get_plot_data(loadFlotData, 
		{'pk': pk, 'timezone': timezone, 'ymax': ymax} 
	);
}

var make_y_ticks = function(){
	var y_ticks = [0];
	y_ticks.push(Math.floor(window.ymax/3));
	y_ticks.push(Math.floor(2*window.ymax/3));
	y_ticks.push(window.ymax);
	return y_ticks;
}

var makePlot = function(flot_id) {

	if(typeof window.flot_data != 'undefined'){
		var ts_length = window.flot_data.length;
		var slider_range = $("#slider").val().split(",");
		if(slider_range[0]=="") slider_range = [0,100]
		var ind1 = Math.floor(slider_range[0]/100*ts_length);
		var ind2 = Math.floor(slider_range[1]/100*ts_length);
		var d = window.flot_data.slice(ind1, ind2);

		var options = {
			series: {
				lines: { show: true, fill: true }
			},
			xaxis: { 
				mode: "time",
				timeformat: "%d%b% %I%p"
			},
			yaxis: {
				min: window.ymin,
				max: window.ymax,
				ticks: make_y_ticks()
			}
		}
	
		if(window.ymax>=1) {	
			var plot = $.plot(flot_id, [d], options);
			plot.draw();
		}
	}
}

// document ready
$(function() {

	$("select[name=timezone]").addClass("form-control");

	// var assignments
	var pk = $("#pk").html();
	var flot_id = "#flot_num_players";
	var ymax_id = "#"+pk+"__max_players";		

	// var assignments
	var variables = [];
	var servers = [];
	var pair = [];
	$(".current_data").each(function(){
		pair = $(this).attr('id').split("__");
		servers.push(pair[0]);
		variables.push(pair[1]);
	});
	servers = ArrayUnique(servers);
	variables = ArrayUnique(variables);

	$("#slider").attr("data-slider-value", "[0,100]");
	$("#slider").attr("data-slider-step", "1");
	$("#slider").attr("data-slider-min", "0");
	$("#slider").attr("data-slider-max", "100");
	$("#slider").slider();

	getCurrentData(servers, variables);
	getFlotData(pk, $("select[name=timezone]").val(), $(ymax_id).html());
	makePlot(flot_id);
	setInterval(function(){getFlotData(pk, $("select[name=timezone]").val(), $(ymax_id).html());},20000);
	setInterval(function(){makePlot(flot_id);},5000);
	
	$("#slider").on('slideStop', function(){
		makePlot(flot_id);
	});

	$("select[name=timezone]").on('change', function() {
		getFlotData(pk, $("select[name=timezone]").val(), $(ymax_id).html());
	});

});
</script>

{% endblock %}
