{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block auth_bar %}
{% include 'auth_bar.html' %}
{% endblock %}

{% block content %}
<div>

	<div id="pk" class="display_none">{{ server.pk }}</div>
	<div id="user_pk" class="display_none">{{ request.user.pk }}</div>

	<table style="width: 100%;">
		<tr>
			<td><h3>{{ server.server_name }}</h3></td>
			<td>
				{% if user.is_authenticated %}
					<div id="vote_message" style="float: right;">
						<div id="vote_button"><a onclick="Dajaxice.mcserverslive.vote(vote_result,{'user_pk': $('#user_pk').html(), 'pk': $('#pk').html() });">Vote for it!</a></div>
					</div>
				{% else %}
					<p style="float: right;">Login to vote for this server!</p>
				{% endif %}
			</td>
		</tr>
	</table><br/><br/>

	{% ifequal server.user request.user %}
		<div id="delete_button">
			<a href="{% url 'delete' server.pk %}">DELETE</a>
		</div>
		<div id="edit_button">
			<a href="{% url 'update' server.pk %}">Edit</a>
		</div>
	{% endifequal %}


	<h4>History</h4>
	<h5>Number of Players over Time</h5>
	<div id="flot_shell" class="flot_shell">
		<div id="flot_num_players" class="flot_plot"></div>
	</div>

		<h4>Current</h4>

	<table style="padding-top: 50px; width: 100%;">
		<tr>
			<td style="width: 40%; padding-right: 5px;">
				<table>
					<tr><td><img id="banner" src="" /></td></tr>
					<tr><td id="motd"></td></tr>
					{% if server.website %}
						<tr><td>Website: <div id="website"></div></td></tr>
					{% endif %}
				</table>			
			</td>
			<td>
				<table style="width: 100%;">
					<tr style="background: #E8E8E8;"><td style="width: 150px;">Version</td><td id="version"></td></tr>
					<tr><td>Ip</td><td>{{ server.ip }}</td></tr>
					<tr style="background: #E8E8E8;"><td>Port</td><td>{{ server.port }}</td></tr>
					<tr><td>Game type</td><td id="game_type"></td></tr>
					<tr style="background: #E8E8E8;"><td>Max players</td><td id="max_players"></td></tr>
					<tr><td>Num players</td><td id="num_players"></td></tr>
					<tr style="background: #E8E8E8;"><td>Votes</td><td id="votes"></td></tr>
					<tr><td>Last queried</td><td id="last_queried"></td></tr>
				</table>
			</td>
		</tr>
	</table>

	<h4>Description</h4>
		{{ server.description }}

	<h4>Plugins</h4>
		<table>
			<tr><td id="plugins"></td></tr>
		</table>			

	<table style="width:100%;">
		<tr>
			<td><h4>Recent Comments</h4></td>
			<td><div id="all_comments_button"><a href="{% url 'server_comments' server.pk %}">All comments</a></div></td>
		</tr>
	</table>
	<hr />
	{% if server.servercomment_set %}
		{% for comment in server.servercomment_set.all reversed %}
			{% if forloop.counter0 < 10 %}
				{% include 'servercomment_list_item.html' %}
			{% endif %}
		{% endfor %}
	{% else %}
		<p>No comments.</p>
	{% endif %}
	{% if user.is_authenticated %}
	<h4>Post a new comment<h4>
		<form method="post" action="{% url 'post_comment' server.pk %}">{% csrf_token %}
			<table>
				<tr><td><label for="id_comment">Comment</label></td></tr>
				<tr><td><div id="counter_description">Maximum characters: 300</div></td></tr>
				<tr><td><textarea style="resize: none;" rows="4" cols="50" name="comment", onKeyUp="textCounter(this,'counter_description',300);"></textarea></td></tr>
				<tr><td><input type="submit" value="Post" /></td></tr>
			</table>
		</form>
	{% else %}
		<h4>Sign in to post a comment</h4>
	{%endif %}

</div>

<script>
$(function() {

	// var assignments
	var pk = $("#pk").html();
	var flot_id = "#flot_num_players";
	var ymax_id = "#max_players";

	// onload current data	
	Dajaxice.mcserverslive.get_text_data(updateText, {'pk': pk });

	// onload create plot
	Dajaxice.mcserverslive.get_plot_data(makePlot, {'pk': pk, 'flot_id': flot_id, 'ymax_id': ymax_id} );

	// update on intervals
	setInterval( function() {
		Dajaxice.mcserverslive.get_plot_data(makePlot, {'pk': pk, 'flot_id': flot_id, 'ymax_id': ymax_id})
		}, 20000 );

	setInterval( function() {
		Dajaxice.mcserverslive.get_text_data(updateText, {'pk': pk })
		}, 10000 );


});
</script>

{% endblock %}
