<!DOCTYPE html>
<html  lang="en">

{% load staticfiles %}
{% load dajaxice_templatetags %}

<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/ico" href="{% static "mcserverslive/images/favicon.ico" %}" />
	{% block description %}{% endblock %}
	<title>{% block title %}{% endblock %}</title>

	<link rel="stylesheet" href="{% static "bootstrap-3.2.0-dist/css/bootstrap.min.css" %}" />
	<link rel="stylesheet" href="{% static "bootstrap-3.2.0-dist/css/bootstrap-theme.min.css" %}" />
	<link rel="stylesheet" href="{% static "slider/css/slider.css" %}" />
	<link rel="stylesheet" media="all" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" media="all" type="text/css" href="/static/django_summernote/summernote.css">
	<link rel="stylesheet" href="{% static "mcserverslive/css/main.css" %}" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="{% static "bootstrap-3.2.0-dist/js/bootstrap.min.js" %}"></script>
	{% dajaxice_js_import %}
	<script language="javascript" type="text/javascript" src="{% static "mcserverslive/js/functions.js" %}"></script>

</head>

<body>

		{% include 'nav.html' %}

		<div class="container" style="margin-top: 10%; margin-bottom: 5%;">
			{% block content %}{% endblock %}
		</div>

		{% block footer %}{% endblock %}

</body>

</html>
