{% extends "base.html" %}

{% block title %}List a Minecraft Servers{% endblock %}

{% block description %}
<meta name="description" content="List a Minecraft Servers" />
{% endblock %}

{% block content %}

<div class="page-header">
	<h1>Add a Minecraft Server Listing</h1>
	<p class="lead">Reload your server with the following MOTD to add. You can change this after your server is listed.</p>
	<p class="lead">{{ rand_motd }}</p>
</div>

<form class="my-form" enctype="multipart/form-data" action="" method="post">{% csrf_token %}
	{% include 'form_errors.html' %}
	{{ form.server_name }}
	{{ form.website }}
	{{ form.banner.label }}<div>(Must be 560x100 pixels)</div>
	{{ form.banner }}
	{{ form.ip }}
	{{ form.port }}
	<div id="description_used"></div>
	{{ form.description }}
	<button class="btn btn-lg btn-success btn-block" type="submit"/>Add</button>
	<input type="hidden" name="rand_motd" value="{{ rand_motd }}" />
</form>	

{% include 'summernote_scripts.html' %}

<script>

function summernoteCounter(){
	var max_chars = 2000;
	var html_char_count = $('.note-editable').code().length;
	var percent_remaining = Math.round(100*(max_chars-html_char_count)/max_chars);
	var counter_string = "Description unused: " + percent_remaining.toString() + "%";
	$("#description_used").html(counter_string);
}

$(function() {
	$("a:contains('Add')").parent().addClass("active");
	$("input[name=server_name]").addClass("form-control");
	$("input[name=server_name]").attr("placeholder", "Server Name");
	$("input[name=ip]").addClass("form-control");
	$("input[name=ip]").attr("placeholder", "IP");
	$("input[name=port]").addClass("form-control");
	$("input[name=port]").attr("style", "margin-bottom: 3%;");
	$("input[name=website]").addClass("form-control");
	$("input[name=website]").attr("placeholder", "Website (optional)");
	$("input[name=website]").attr("style","margin-bottom: 5%;");
	$("input[name=banner]").addClass("form-control");

	summernoteCounter();
	$("div[class=note-editable], button").on('keyup focus blur paste init change click', function(){
		summernoteCounter();
	});

});

</script>

{% endblock %}
