{% extends "base.html" %}

{% block title %}Server Form{% endblock %}

{% block auth_bar %}
{% include 'auth_bar.html' %}
{% endblock %}

{% block content %}
<div class="page-heading">
	<h1>Add a Server Listing</h1>
	<p class="lead">Reload your server with the following MOTD to add. You can change this after your server is listed.</p>
	<p class="lead">{{ rand_motd }}</p>
</div>

<form class="my-form" enctype="multipart/form-data" action="" method="post">{% csrf_token %}
	{% include 'form_errors.html' %}
	{{ form.server_name }}
	{{ form.banner.label }}
	<div>Must be 560x100 pixels</div>
	{{ form.banner }}
	{{ form.ip }}
	{{ form.port }}
	<div id="counter_description">Maximum characters: 2000</div></td></tr>
	{{ form.description }}
	{{ form.website }}
	<button class="btn btn-lg btn-success btn-block" type="submit"/>Add</button>
	<input type="hidden" name="rand_motd" value="{{ rand_motd }}" />
</form>	

<script>

$(function() {
	$("a:contains('Add')").parent().addClass("active");
	$("input[name=server_name]").addClass("form-control");
	$("input[name=server_name]").attr("placeholder", "Server Name");
	$("input[name=server_name]").attr("style","margin-bottom: 5%;");
	$("input[name=ip]").addClass("form-control");
	$("input[name=ip]").attr("placeholder", "IP");
	$("input[name=port]").addClass("form-control");
	$("input[name=port]").attr("style", "margin-bottom: 3%;");
	$("textarea[name=description]").addClass("form-control");
	$("textarea[name=description]").attr("placeholder", "Description");
	$("input[name=website]").addClass("form-control");
	$("input[name=website]").attr("placeholder", "Website");

	$("input[name=banner]").addClass("form-control");

});

</script>
{% endblock %}
