{% extends "base.html" %}

{% block title %}Server Form{% endblock %}

{% block auth_bar %}
{% include 'auth_bar.html' %}
{% endblock %}

{% block content %}
<div>

	{% if rand_motd %}
		<h3>Add a Server Listing</h3>
	{% else %}
		<h3>Update a Server Listing</h3>
	{% endif %}

	<form enctype="multipart/form-data" action="" method="post">{% csrf_token %}

			{% if rand_motd %}
				<p><b>Reload your server with the following MOTD to add. You can change this after your server is listed.</b></p>
				<p><b>{{ rand_motd }}</b></p>
				<input type="hidden" name="rand_motd" value="{{ rand_motd }}" />
			{% else %}
				<input type="hidden" name="rand_motd" value="" />
			{% endif %}
				

		{{ form.server_name.errors }}</td></tr>
		{{ form.server_name.label }}</td>
		{{ form.server_name }}</td>
		{{ form.banner.errors }}</td></tr>
		{{ form.banner.label }}</td>
		{{ form.banner }}</td>
		must be 560x100 pixels</td></tr>
		{{ form.ip.errors }}</td></tr>
		{{ form.ip }}</td>
		{{ form.port.errors }}</td></tr>
		{% if rand_motd %}
		{{ form.port }}</td>
		{% endif %}
			<tr><td>{{ form.description.errors }}</td></tr>
			<tr><td></td><td><div id="counter_description">Maximum characters: 2000</div></td></tr>
			<tr>
				<td>{{ form.description.label }}</td>
				<td>{{ form.description }}</td>
			</tr>
			<tr><td>{{ form.website.errors }}</td></tr>
			<tr>
				<td>{{ form.website.label }}</td>
				<td>{{ form.website }}</td>
			</tr>
		</table>
		<br />
		<input type="submit" value="Submit" />
	</form>
</div>	

<script>

$(function() {
	// add active class to nav on createview only
	var pathname = window.location.pathname;
	if(pathname.indexOf("create") > -1) $("a:contains('Add')").parent().addClass("active");
});

</script>
{% endblock %}
