{% extends "base.html" %}

{% block title %}Server Form{% endblock %}

{% block auth_bar %}
{% include 'auth_bar.html' %}
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>Update a Server Listing</h1>
</div>

	<form class="form-server" enctype="multipart/form-data" action="" method="post">{% csrf_token %}
		{{ form.server_name }}
		{{ form.banner }}
		must be 560x100 pixels
		<div id="counter_description">Maximum characters: 2000</div>
		{{ form.description }}
		{{ form.website }}
		<button class="btn btn-lg btn-success btn-block" type="submit" style="margin-top: 1%;"/>Update</button>
	</form>	

<script>

$(function() {
	// add active class to nav on createview only
	var pathname = window.location.pathname;
	if(pathname.indexOf("create") > -1) $("a:contains('Add')").parent().addClass("active");

	// add bootstrap classes to inputs
	$("input[name=server_name]").addClass('form-control');
	$("input[name=description]").addClass('form-control');
	$("input[name=website]").addClass('form-control');
});

</script>
{% endblock %}
