{% extends 'base.html' %}
{% block title %}Registration{% endblock %}

{% block content %}

<div class="page-header">
	<h1>{{ user }}'s Account</h1>
	<p class="lead">Email Settings</p>
</div>

<form class="my-form" method='post' action="">{% csrf_token %}
		{{ form.setting }}
	<button class="btn btn-lg btn-warning btn-block" type="submit">Update</button>
</form>

<script>
$(function() {

	$("a:contains('Account')").parent().addClass("active");
	$("ul[id=id_setting]").addClass("form-control");
});
</script>

{% endblock %}
